.charsheet{
    min-width:840px;
    max-width:900px;
    margin: 0 auto;
    --field-color:yellow;
}
#page-wrap {
  /*width: 1024px;*/
}

*{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

select, input[type="number"]{
    text-align-last:center;
    display:inline-block;
}

span.sheet-field{
    display:inline-block;
    min-height:25px;
    width:auto;
    padding:2px 5px;
    text-align-last:center;
    vertical-align: middle;
    border:1px solid black;
    background-color:var(--field-color);
}

textarea{
    margin:0;
}

.sheet-creature[value="0"] ~ .sheet-pokemon,
.sheet-creature[value="1"] ~ .sheet-trainer{
    display:none;
}

.sheet-oldtab1,
.sheet-oldtab2,
.sheet-oldtab3,
.sheet-oldtab4,
.sheet-oldtab5{
    display: none;
}

input.sheet-oldtab[value="1"] ~ .sheet-oldtab1,
input.sheet-oldtab[value="2"] ~ .sheet-oldtab2,
input.sheet-oldtab[value="3"] ~ .sheet-oldtab3,
input.sheet-oldtab[value="4"] ~ .sheet-oldtab4,
input.sheet-oldtab[value="5"] ~ .sheet-oldtab5{
    display:block !important;
}

.table.sheet-status-table td:nth-child(odd) {
    width:40%;
}

table.sheet-status-table td:nth-child(even) {
    width:10%;
}

input.sheet-oldtab1 {
    margin-left: 1px;
}
div.sheet-oldtab-group{
    margin-bottom:-2px;
}
div.sheet-oldtab{
    display:inline-block;

    
    position:relative;
}
div.sheet-oldtab > input.sheet-oldtab {
    display:block;
    position: absolute;
    top:0px;
    left:0px;

    width: 100%;
    height: 100%;
    
    cursor: pointer;
    opacity:0;
    z-index: 1;
}
div.sheet-oldtab > input.sheet-oldtab + span{
    display:inline-block;

    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background: #fff;
    border: solid 1px #a8a8a8;
    border-radius: 4px;
    padding:0 2px;
    min-width:100px;
    
}
div.sheet-oldtab > input.sheet-oldtab + span::before {
    content: attr(title);
}
div.sheet-oldtab > input.sheet-oldtab:checked + span {
   background-color:#444;
   color:white;
}

.sheet-oldtab-br {
    border-bottom: 1px solid #a8a8a8;
    margin-bottom: 5px;
    margin-top: 1px;
}

.sheet-tabs {
    position: relative;   
    min-height: 200px; /* This part sucks */
    clear: both;
    margin: 25px 0;      
}

.sheet-tab {
  /*float: left; */
}

.sheet-tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px;        
  width: 80px;
  display: block;
}

/*.sheet-clear { clear: both; }*/

.sheet-tab [type=radio] {
  display: none;   
}

.sheet-content {
  position: absolute;
  top: 0px;
  left: 102px;
  background: white;
  overflow: auto;
  height: auto;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;       
}

.sheet-tab [type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

.sheet-tab [type=radio]:checked ~ label ~ .sheet-content {
  z-index: 1;
}

/* Moves */
.sheet-generic-rolls > div{
    display:block;
    width:max-content;
    margin:0 auto;
}

.sheet-movesList{
    
}

.sheet-movesList .sheet-move-item{
    position:relative;
    display:block;
    width:700px;
    margin:0 auto 2px;
    border:1px solid black;
}
.sheet-move-item{
    padding:2px;
}
.sheet-move-item .sheet-row > div{
    padding:0 2px;
}

.sheet-movesKnown{
    
    width:100%;
    min-height:150px;
}
.sheet-movesKnown  .sheet-move-item{
    
}
.sheet-movesKnown .repcontainer{
    display:grid;
    grid-template-columns:270px 270px 270px;
    grid-row-gap:5px;
    justify-content:space-around;
}
.sheet-movesKnown .repitem{
    border:1px solid black;
}
.sheet-movesKnown .repcontrol{
    display:none;
}
.sheet-movesKnown-Add{
    display:block;
    position:absolute;
    top:0;
    left:-40px;
    width:30px;
    height:70px;
}

.sheet-move-item{
    background:#ddd;
    font-weight:bold;
    color:black;
}
.sheet-move-item input,
.sheet-move-item select{
    font-weight:bold;
    color:black;
}

.sheet-move-item .sheet-movesKnown-Add > input[type="checkbox"]{
    width:100%;
    height:100%;
    position: absolute;
    z-index:1;
    opacity:0;
}
.sheet-move-item .sheet-movesKnown-Add > div{
    width:100%;
    height:100%;
    border:1px solid black;
    background:#888;
}
.sheet-move-item .sheet-movesKnown-Add > input:checked + div{
    background:red;
}


.sheet-move-item input[value="At-Will"] + .sheet-move-uses,
.sheet-move-item input[value="EOT"] + .sheet-move-uses,
.sheet-move-item input[value="Static"] + .sheet-move-uses{
    display:none;
}
.sheet-move-item .sheet-field{
    min-width:80px;
}

.sheet-move-item .sheet-move-header{ 
    background-color:#d6d6c4;
    padding:5px;
    color:black;
    font-size:12pt;
    font-weight:bold;
}
.sheet-move-item .sheet-move-header select,
.sheet-move-item .sheet-move-header input{
    color:black;
    font-size:12pt;
    font-weight:bold;
}
.sheet-move-item .sheet-move-type[value="Normal"] + .sheet-move-header{ background-color:#a9a878;}
.sheet-move-item .sheet-move-type[value="Bug"] + .sheet-move-header{ background-color:#a8b839;}
.sheet-move-item .sheet-move-type[value="Dark"] + .sheet-move-header{ background-color:#6b5b52;}
.sheet-move-item .sheet-move-type[value="Dragon"] + .sheet-move-header{ background-color:#6559a5;}
.sheet-move-item .sheet-move-type[value="Electric"] + .sheet-move-header{ background-color:#f7d031;}
.sheet-move-item .sheet-move-type[value="Fairy"] + .sheet-move-header{ background-color:#ec99ac;}
.sheet-move-item .sheet-move-type[value="Fighting"] + .sheet-move-header{ background-color:#bd3226;}
.sheet-move-item .sheet-move-type[value="Fire"] + .sheet-move-header{ background-color:#ed802f;}
.sheet-move-item .sheet-move-type[value="Flying"] + .sheet-move-header{ background-color:#a08ec3;}
.sheet-move-item .sheet-move-type[value="Ghost"] + .sheet-move-header{ background-color:#715999;}
.sheet-move-item .sheet-move-type[value="Grass"] + .sheet-move-header{ background-color:#7cc252;}
.sheet-move-item .sheet-move-type[value="Ground"] + .sheet-move-header{ background-color:#dfc069;}
.sheet-move-item .sheet-move-type[value="Ice"] + .sheet-move-header{ background-color:#97d4d5;}
.sheet-move-item .sheet-move-type[value="Poison"] + .sheet-move-header{ background-color:#9e449a;}
.sheet-move-item .sheet-move-type[value="Psychic"] + .sheet-move-header{ background-color:#f05887;}
.sheet-move-item .sheet-move-type[value="Rock"] + .sheet-move-header{ background-color:#b79e37;}
.sheet-move-item .sheet-move-type[value="Steel"] + .sheet-move-header{ background-color:#b8b8d0;}
.sheet-move-item .sheet-move-type[value="Water"] + .sheet-move-header{ background-color:#6c8ec4;}


.sheet-inventory-item{
    display:block;
    position:relative;
}
.sheet-inventory-item input[type="number"]{
    display:inline-block;
    width:50px;
    height:30px;
    border-radius:20px;
}
.sheet-inventory-item input[type="text"]{
    display:inline-block;
    width:730px;
}
.sheet-inventory-item textarea{
    display:block;
    height:80px;
    resize:vertical;
}
.sheet-inventory-item .sheet-hide-container{
    display:block;
    position:absolute;
    top:0px;
    right:10px;
    width:30px;
    height:30px;
}
.sheet-inventory-item .sheet-hide-container input{
    display:inline-block;
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    opacity:0;
}
.sheet-inventory-item .sheet-hide-container img{
    display:inline-block;
    width:100%;
    height:100%;
}
.sheet-inventory-item .sheet-hide-swap[value="1"] ~ .sheet-a,
.sheet-inventory-item .sheet-hide-swap[value="0"] ~ .sheet-b{
    display:none;
}

.sheet-inventory-money{
    display:inline-block;
    padding-left:20px;
}
.sheet-inventory-money span{
    font-size:12pt;
    font-weight:bold;
    color:black;
    
}
.sheet-inventory-money input{
    font-size:12pt;
    font-weight:bold;
    width:100px !important; 
}

div.sheet-checklist {
    display: none;
}

input.sheet-arrow[type="checkbox"] {
    color: #E0E0E0;
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-arrow[type="checkbox"] + span::before
{
    margin-right: 4px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: 14px;
    height: 14px;
    content: "▼";
    color: #E0E0E0;
    transform: rotate(-90deg);
}

input.sheet-arrow[type="checkbox"]:checked + span::before {
    width: 14px;
    height: 14px;
    content: "▼";
    
    transform: rotate(0deg);
}

input.sheet-arrow {
    float: left;
}

input.sheet-arrow:checked ~ table div.sheet-checklist {
    display: block;
}

tr.sheet-featlist {
    display: none;
}

input.sheet-arrow:checked ~ table tr.sheet-featlist {
    display: table-row;
}

.sheet-rolltemplate-PTU table {
    width: 100%;
    border: 1px solid;
    color: black;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.sheet-rolltemplate-PTU th {
    background: url(http://i.imgur.com/5aRtcpq.png) top no-repeat, url(http://i.imgur.com/yyzOMmI.png top no-repeat);
    color: #ffffff;
    padding: 2px 2px 2px 40px;
    border-bottom: 1px solid black;
    line-height: 1.6em;
    font-size: 1.2em;
}

.sheet-rolltemplate-PTU .userscript-tcat {
    font-weight: bold;
}

.sheet-rolltemplate-PTU td {
	padding: 5px;
	border-bottom: 1px solid black;
}

.sheet-rolltemplate-PTU tr:nth-child(odd) {
	background-color: rgba(217, 217, 214,1);
}

.sheet-rolltemplate-PTU tr:nth-child(even) {
	background-color: rgba(233, 233, 233,1);
}

.sheet-rolltemplate-PTU .inlinerollresult  {
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid rgba(167, 168, 170,1); /*Cool Gray 6 C*/
}

.sheet-rolltemplate-PTU .inlinerollresult.fullcrit {
	border: 2px solid #3FB315;
}

.sheet-rolltemplate-PTU .inlinerollresult.fullfail {
	border: 2px solid #B31515;
}

.sheet-rolltemplate-PTU .inlinerollresult.importantroll {
	border: 2px solid #4A57ED;
}

.sheet-rolltemplate-PTU .sheet-hit {
    background-color: #3ADF00;
    text-align: center;
    font-size: 150%;
    font-family: ,Serif;
}

.sheet-rolltemplate-PTU .sheet-miss {
    background-color: #DF0101;
    text-align: center;
    font-size: 150%;
    font-family: "Courier New",Serif;
}

table.sheet-table tr:nth-child(odd) {
    background-color: #E5E5E5;
}

table.sheet-table tr:nth-child(even) {
    background-color: white;
}

table.sheet-big-table tr:nth-child(even),
table.sheet-left-half-table tr:nth-child(even),
table.sheet-right-half-table tr:nth-child(even){
    background-color: #E5E5E5;
}

div.sheet-table{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
div.sheet-table  div.sheet-row{
    display:block;
    min-height:28px;
    
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
div.sheet-table.sheet-basic-info  .sheet-row:nth-child(even){
    background-color: #E5E5E5;
}
div.sheet-table.sheet-basic-info  .sheet-row:nth-child(odd){
    background-color: white;
}
div.sheet-table .sheet-row  div{
    display:inline-block;
    width:100%;
}
div.sheet-table input,
div.sheet-table select{
    display:inline-block;
    border:solid black;
    border-width:0 0 1px 0;
    background:none;
    max-width:100%;
}
div.sheet-table textarea{
    resize:vertical;
    height:70px;
}

.sheet-ap-item,
.sheet-injury-item,
.sheet-cap-item{
    display:block;
    width:90%;
    margin:0 auto;
}
.sheet-ap-item > div{
    display:inline-block;
}





.sheet-shortfield{
 width:100%; 
}

.sheet-shortfield2{
 width:4em;   
}

.sheet-shortfield3{
 width:62%;  
}

.sheet-shortfield4{
 width:32%;   
}

.sheet-shortfield5{
 width:85%;   
}

.sheet-shortfield6{
 width:20%;
}

.sheet-shortfield7{
 width: 70%;
}

.sheet-shortfield8{
 width: 10%;
}

.sheet-header{
 color: white;
 background: black;
 text-align: center;
}

.sheet-table-header{
 font-weight: bold;
}

.sheet-table-header-1{
 font-weight: bold;
 width: 39%;
}

.sheet-banded{
 background: #E5E5E5;   
}

.sheet-table,
.sheet-big-table{
 width: 100%;
}

.sheet-table-1{
 width: 33%;
}

.sheet-left-half-table{
 width: 48%;
 float: left;
}


.sheet-right-half-table{
 width: 48%;
 float: right;
}

.sheet-main-header{
 width:100%;
}

tr.sheet-five-strike,
tr.sheet-double-strike,
tr.sheet-rollout{
  display: none;
}

input.sheet-five-strike:checked ~ table tr.sheet-normal,
input.sheet-double-strike:checked ~ table tr.sheet-normal,
input.sheet-rollout:checked ~ table tr.sheet-normal{
 display: none;
}

.sheet-target,
input.sheet-targeted[value="1"] ~ div input.sheet-five-strike:checked ~ table tr.sheet-normal.sheet-target,
input.sheet-targeted[value="1"] ~ div input.sheet-double-strike:checked ~ table tr.sheet-normal.sheet-target,
input.sheet-targeted[value="1"] ~ div input.sheet-rollout:checked ~ table tr.sheet-normal.sheet-target,
input.sheet-targeted[value="1"] ~ div input.sheet-five-strike:checked ~ table tr.sheet-five-strike:not(.sheet-target),
input.sheet-targeted[value="1"] ~ div input.sheet-double-strike:checked ~ table tr.sheet-double-strike:not(.sheet-target),
input.sheet-targeted[value="1"] ~ div input.sheet-rollout:checked ~ table tr.sheet-rollout:not(.sheet-target){
    display: none;
}

input.sheet-targeted[value="0"] ~ div input.sheet-five-strike:checked ~ table tr.sheet-five-strike:not(.sheet-target),
input.sheet-targeted[value="0"] ~ div input.sheet-double-strike:checked ~ table tr.sheet-double-strike:not(.sheet-target),
input.sheet-targeted[value="0"] ~ div input.sheet-rollout:checked ~ table tr.sheet-rollout:not(.sheet-target),
input.sheet-targeted[value="1"] ~ div .sheet-target:not(.sheet-rollout):not(.sheet-double-strike):not(.sheet-five-strike),
input.sheet-targeted[value="1"] ~ div input.sheet-five-strike:checked ~ table tr.sheet-five-strike.sheet-target,
input.sheet-targeted[value="1"] ~ div input.sheet-double-strike:checked ~ table tr.sheet-double-strike.sheet-target,
input.sheet-targeted[value="1"] ~ div input.sheet-rollout:checked ~ table tr.sheet-rollout.sheet-target{
    display: table-row;
}

input.sheet-targeted[value="1"] ~ div .sheet-nontarget{
    display: none;
}

div.sheet-center-img{
 display:block;
 width:100px;
 margin: 0 auto;
}

.sheet-minihead{
 color: white;
 background: gray;
 text-align: center;
}

.sheet-bold{
    font-weight: bold;
}

.sheet-allign-1{
 float:left;
 margin-top: .5%;
 margin-bottom: .5%;
 margin-right: 24.2%;
}

.sheet-allign-2{
 float:left;
 margin-top: .5%;
 margin-bottom: .5%;
 margin-right: 5%;
}

.sheet-allign{
 float:left;
 margin-top: .5%;
 margin-bottom: .5%;
 margin-right: .2%;
}

.sheet-textarea{
    resize: none;
    border: none;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

.sheet-textarea-b{
    resize: none;
    border-width: 1px;
    border-color: black;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

select { margin-bottom: 0; }
