.sheet-rolltemplate-PTU{
    
}
.sheet-rolltemplate-PTU_AC{
    
}
.sheet-rolltemplate-PTU_Damage{
    
}

.charsheet{
    min-width:840px;
    width:100%;
    background-color:#eed;
}
.charsheet *{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.charsheet > .sheet-header{
    display:block;
    text-align:center;
    font-size:9pt;
}

.charsheet .sheet-creature{
    width:max-content;
    margin:2px auto;
}

.charsheet > .sheet-tabs{
    display:inline-block;
    width:600px;
}
.charsheet > .sheet-tabs > .sheet-tab{
    display:inline-block;
    position:relative;
    margin:2px 5px;
    
}
.charsheet > .sheet-tabs > .sheet-tab > input[type="radio"]{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    opacity:0;
}
.charsheet > .sheet-tabs > .sheet-tab > input[type="radio"] + span{
    display:inline-block;
    width:100%;
    height:100%;
    padding:0px 15px;
    border:2px solid #444;
    border-radius:10px;
    text-align:center;
    background-color:#ddd;
    font-weight:bold;
    font-size:12pt;
}
.charsheet > .sheet-tabs > .sheet-tab > input[type="radio"]:checked + span{
    background-color:black;
    color:white;
}
.charsheet > .sheet-whisperMode{
    display:inline-block;
    width:210px;
}
.charsheet > .sheet-body{
    border: 2px solid black;
    border-radius:10px;
    padding:5px;
    background-color:#ddd;
}

.charsheet textarea{
    resize:vertical;
}

/* Remove Input Decorations */
.charsheet  input[type="number"]{
  -moz-appearance: textfield;
  text-align:center;
}
.charsheet input[type=number]::-webkit-inner-spin-button, 
.charsheet input[type=number]::-webkit-outer-spin-button{ 
  -webkit-appearance: none; 
  margin: 0; 
}
.charsheet select{
    -moz-appearance: textfield;
    text-align:center;
    margin:0px;
}

div.sheet-btn{
    display:inline-block;
    position:relative;
    margin:0px 0px;
}
div.sheet-btn > input{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    opacity:0;
}
div.sheet-btn > input + span{
    display:inline-block;
    width:100%;
    padding:0px 20px;
    border:2px solid #444;
    border-radius:15px;
    text-align:center;
    background-color:#ccc;
    font-weight:bold;
    font-size:12pt;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
div.sheet-btn > input:checked + span{
    background-color:black;
    color:white;
    
}
div.sheet-btn > input:checked{
    cursor:default;
}
div.sheet-field{
    position:relative;
    display:inline-block;
    min-height:30px;
    min-width:50px;
    vertical-align: middle;
}
div.sheet-field > input,
div.sheet-field > textarea,
div.sheet-field > select,
div.sheet-field > span.sheet-field{
    position:relative;
    width:100%;
    height:100%;
    padding:10px 15px 0px 15px;
    font-weight:bold;
    border-radius:15px;
    
    
}
div.sheet-field > span.sheet-field{
    display:block;
    background-color:#bbb;
    border:1px solid #999;
    border-radius:0px;
    min-height:30px;
    cursor: not-allowed;
    color: black;
    font-weight: bold;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
div.sheet-field > select{
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}
div.sheet-field > input:disabled{
    cursor: not-allowed; 
    color: black;
    font-weight: bold;
}
div.sheet-field > input + span,
div.sheet-field > textarea + span,
div.sheet-field > select + span,
div.sheet-field > span.sheet-field + span{
    position:absolute;
    top:0px;
    left:0px;
    display:inline-block;
    width:100%;
    padding:0px 0 0 15px;
    font-size:8pt; 
    font-family:'Contrail One';
    letter-spacing: 1px;
    color:#888;
    pointer-events: none
}
div.sheet-field > span.sheet-field + span{color:#333;}
div.sheet-field > input[type="number"]{
    min-width:70px;
    text-align:center;
}
div.sheet-field > textarea{
    border-radius:10px;
}
span.sheet-field{
    white-space:pre-line;
}


/* Character Info */
.sheet-characterInfo{
    min-height:170px;
    width:750px;
    margin:5px auto;
    background-color:#444;
    padding:10px;
    border-radius:10px;
    
    
}
.sheet-characterInfo div.sheet-field > input,
.sheet-characterInfo div.sheet-field > span.sheet-field,
.sheet-characterInfo div.sheet-field > select,
.sheet-characterInfo div.sheet-field > textarea{
    border-color:transparent;
    border-width:2px;
}
.sheet-characterInfo div.sheet-field > input + span,
.sheet-characterInfo div.sheet-field > span.sheet-field + span,
.sheet-characterInfo div.sheet-field > select + span,
.sheet-characterInfo div.sheet-field > textarea + span,
.sheet-characterInfo div.sheet-field > span.sheet-field + span{
    color:#222c;
}
.sheet-characterInfo  .sheet-row{
    margin:2px auto;
}

.sheet-characterInfo > .sheet-background{
    position:relative;
    padding:5px;
    margin-top:5px;
    border-radius:10px;
    border:3px solid transparent;
    background: #777;
}
.sheet-background .sheet-collapse-btn{
    position:absolute;
    top:5px;
    right:0px;
    width:30px;
    height:30px;
}
.sheet-background .sheet-collapse-btn input{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    opacity:0;
}
.sheet-background .sheet-collapse-btn span{
    display:block;
    width:100%;
    height:100%;
    font-size: 25pt;
    position: relative;
    top: -10px;
    pointer-events: none;
}

/* Hide Swap */
.sheet-hide-swap{
    
}
.sheet-hide-swap[value="1"] ~ .sheet-hide-a,
.sheet-hide-swap[value="0"] ~ .sheet-hide-b{
    display:none !important; 
}

/* Trainer - Pokemon */
.sheet-creature-swap{
    
}

.sheet-creature-swap[value="1"] ~ .sheet-pokemon,
.sheet-creature-swap[value="0"] ~ .sheet-trainer{
    display:none;
}

.charsheet > .sheet-body{
    background-color:#f0f0f0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.sheet-tab-swap:not([value="0"]) ~ .sheet-page-core,
.sheet-tab-swap:not([value="1"]) ~ .sheet-page-skills,
.sheet-tab-swap:not([value="2"]) ~ .sheet-page-features,
.sheet-tab-swap:not([value="3"]) ~ .sheet-page-moves,
.sheet-tab-swap:not([value="4"]) ~ .sheet-page-inventory{
    display:none;
}

/* Core Page */
.sheet-page-core{
    display:grid;
    grid-template-columns:55% 40%;
    column-gap:10px;
    justify-content:space-around;
    
}
.sheet-page-core table input{
    font-weight:bold;
}

.sheet-page-core > .sheet-item {
    
    padding:5px;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    
}
.sheet-page-core .sheet-stats,
.sheet-page-core .sheet-status,
.sheet-page-core .sheet-markers,
.sheet-page-core .sheet-evasions,
.sheet-page-core .sheet-capabilities,
.sheet-page-core .sheet-conditions{
    width:100%;
    
}
.sheet-page-core .repcontainer{
    /*background-color:#666;*/
}

.sheet-page-core .sheet-stats tr,
.sheet-page-core .sheet-status tr,
.sheet-page-core .sheet-markers tr,
.sheet-page-core .sheet-evasions tr,
.sheet-page-core .sheet-capabilities tr{
    background-color:darkgrey;
}
.sheet-page-core tr.sheet-header,
.sheet-page-core tr.sheet-header{
    background-color:black !important;
    border-radius:10px 10px 0 0;
    padding:2px 0;
    
}
.sheet-page-core tr.sheet-header th,
.sheet-page-core tr.sheet-header th{
    text-align:center;
    font-size:12pt;
    font-weight:bold;
    color:#ddd;
    
}


.sheet-page-core td,
.sheet-page-core th,
.sheet-page-core .sheet-status td,
.sheet-page-core .sheet-status th{
    padding:2px 0;
    text-align:center;
}
.sheet-page-core .sheet-stats th,
.sheet-page-core .sheet-status th{
    font-size:12pt;
    font-weight:bold;
    color:#ddd;
}
.sheet-page-core td:first-child,
.sheet-page-core td:first-child,
td.sheet-header{
    text-align:left;
    padding-left:5px;
    font-size:12pt;
    font-weight:bold;
}
.sheet-page-core .sheet-item{
    background-color: #666;
}
.sheet-page-core .sheet-stats input,
.sheet-page-core .sheet-status input{
    border-width:0 0 1px;
    border-radius:0px;
    border-color:black;
    background:none;
    color:black;
}
.sheet-page-core .sheet-status input{
    width:80px;
}
.sheet-page-core table select
{
    background:none;
    color:black;
    text-align-last:center;
    font-weight:bold;
    border:solid black;
    border-radius:0;
    border-width: 0 0 1px;
    padding:0 10px;
}

.sheet-AP-item,
.sheet-capabilities-item,
.sheet-condition-item{
    width:max-content;
    margin:2px auto;
}
.sheet-AP-item select,
.sheet-AP-item input{
    vertical-align: bottom;
}

.sheet-condition-btn{
    position:relative;
    padding:0 !important;
}
.sheet-condition-btn input{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    opacity:0;
}
.sheet-condition-btn span{
    display:block;
    width:100%;
    height:100%;
    font-size:9pt;
    font-weight:bold;
    text-align:center;
    padding:0px;
    background-color:#888;
}
.sheet-condition-btn input:checked ~ span{
    background-color:#444;
    color:white;
}


/***************************************
    Moves
****************************************/

.sheet-moves-summary .repcontainer[data-groupname="repeating_movesKnown"]  .repcontrol{
    display:none;
}

.sheet-moveList-group{
    
}
.sheet-moveList-item{
    display:block;
    position:relative;
    width:750px;
    margin:2px auto;
    
}

.sheet-moveList-item .sheet-known-swap{
    position:absolute;
    display:block;
    top:40px;
    left:-30px;
    width:20px;
    height:20px;
}
.sheet-moveList-item .sheet-known-swap > input{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    opacity:0;
    z-index:1;
}
.sheet-moveList-item .sheet-known-swap > input + span{
    display:block;
    width:100%;
    height:100%;
    background:black;
    border-radius:20px;
}
.sheet-moveList-item .sheet-known-swap > input:checked + span{
    background:red;
}

.sheet-moveList-item .sheet-header{
    position:relative;
    padding:5px 15px 5px 5px;
    background-color:black;
    border-radius:10px 10px 0 0;
}
.sheet-moveList-item .sheet-body{
    display:grid;
    grid-template-columns:220px auto;
    border-radius: 0 0 10px 10px;
    
}
.sheet-moveList-item .sheet-left{
    display:inline-block;
    background-color:black;
    vertical-align:top;
    padding:5px 5px;
    border-radius: 0 0 0px 10px;
}
.sheet-moveList-item .sheet-right{
    display:inline-block;
    vertical-align:top;
    padding:5px 5px;
    background-color:#888;
    border-radius: 0 0 10px 0px;
}

.sheet-move-type[value="-"] ~           .sheet-typeColor{background-color:#222;}
.sheet-move-type[value="Normal"] ~      .sheet-typeColor{background-color:#a9a878;}
.sheet-move-type[value="Bug"] ~         .sheet-typeColor{background-color:#a8b839;}
.sheet-move-type[value="Dark"] ~        .sheet-typeColor{background-color:#70584a;}
.sheet-move-type[value="Dragon"] ~      .sheet-typeColor{background-color:#6558a5;}
.sheet-move-type[value="Electric"] ~    .sheet-typeColor{background-color:#f7d031;}
.sheet-move-type[value="Fairy"] ~       .sheet-typeColor{background-color:#ec99ac;}
.sheet-move-type[value="Fighting"] ~    .sheet-typeColor{background-color:#c1302c;}
.sheet-move-type[value="Fire"] ~        .sheet-typeColor{background-color:#ed802f;}
.sheet-move-type[value="Flying"] ~      .sheet-typeColor{background-color:#a08ec3;}
.sheet-move-type[value="Ghost"] ~       .sheet-typeColor{background-color:#715998;}
.sheet-move-type[value="Grass"] ~       .sheet-typeColor{background-color:#7ac44f;}
.sheet-move-type[value="Ground"] ~      .sheet-typeColor{background-color:#dfc069;}
.sheet-move-type[value="Ice"] ~         .sheet-typeColor{background-color:#97d4d5;}
.sheet-move-type[value="Poison"] ~      .sheet-typeColor{background-color:#9e449a;}
.sheet-move-type[value="Psychic"] ~     .sheet-typeColor{background-color:#f05887;}
.sheet-move-type[value="Rock"] ~        .sheet-typeColor{background-color:#b89f38;}
.sheet-move-type[value="Steel"] ~       .sheet-typeColor{background-color:#b8b8d0;}
.sheet-move-type[value="Water"] ~       .sheet-typeColor{background-color:#718bc6;}

.sheet-move-frequency ~ .sheet-move-uses{display:none;}
.sheet-move-frequency[value="At-Will"] ~ .sheet-move-uses,
.sheet-move-frequency[value="EOT"] ~ .sheet-move-uses,
.sheet-move-frequency[value="Static"] ~ .sheet-move-uses{
    display:inline-block ;
}

.sheet-moveList-item .sheet-row{
    position:relative;
    margin:0px 0px 2px;
}
.sheet-moveList-item .sheet-body button{
    position:absolute;
    display:inline-block;
    
    top:0px;
    right:0px;
}
.sheet-moveList-item .sheet-header button{
    position:absolute;
    display:inline-block;
    
    top:5px;
    right:10px;
}
.sheet-moveList-item .sheet-move-DB{
    display:inline-block;
    padding:2px 15px 2px 5px;
    border-radius:10px;
    background-color:#000a;
}

.sheet-moveKnown-group > .repcontainer{
    width:90%;
    
    
}
.sheet-moveKnown-group > .repcontrol{
    display:none;
}

.sheet-moveKnown-group .repitem{
    display:inline-block;
    max-height:100px;
    width:300px;
}
.sheet-moveKnown-item{
    /*width:max-content;*/
}
.sheet-moveKnown-item .sheet-header{
    padding:2px 5px;
    border-radius: 10px 10px 0 0;
    border:1px solid black;
}
.sheet-moveKnown-item .sheet-body{
    padding:5px;
    border-radius: 0 0 10px 10px;
    border:1px solid black;
}

.sheet-moveKnown-item span.sheet-field{
    padding:2px 5px;
    border:1px solid black;
    background:white;
    font-weight:bold;
}


.sheet-moveKnown-item span.sheet-field[name$="Name"]::before{}
.sheet-moveKnown-item span.sheet-field[name$="Freq"]::before{ }
.sheet-moveKnown-item span.sheet-field[name$="AC"]::before{ content:"AC: "; }
.sheet-moveKnown-item span.sheet-field[name$="Crit"]::before{ content:"Crit on ";}
.sheet-moveKnown-item span.sheet-field[name$="Crit"]::after{ content:"+";}
.sheet-moveKnown-item span.sheet-field[name$="DB"]::before{ content:"DB: "; }
.sheet-moveKnown-item span.sheet-field[name$="Roll"]::before{ }
