.sheet-rolltemplate-PTU table,
.sheet-rolltemplate-PTU_attack table{
    border:2px solid black;
    min-width:200px;
    width:100%;
}
.sheet-rolltemplate-PTU table tr,
.sheet-rolltemplate-PTU_attack table tr{
    background-color:#999999;2px 0 3px 0px;
    color:black;
}
.sheet-rolltemplate-PTU table td,
.sheet-rolltemplate-PTU_attack table td{
    padding:3px 5px 3px  0px;
    white-space:pre-line
    font-weight:bold;   
}
.sheet-rolltemplate-PTU table th,
.sheet-rolltemplate-PTU_attack table th
{
    height:2rem;
    vertical-align:middle;
    background-color:#333333;
    color:white;
}
.sheet-rolltemplate-PTU table tr:nth-child(odd),
.sheet-rolltemplate-PTU_attack table tr:nth-child(odd){
    background-color:#bbbbbb;
}
.sheet-rolltemplate-PTU table td:nth-child(1), 
.sheet-rolltemplate-PTU_attack table td:nth-child(1){
    padding-right:10px;
}

.charsheet{
    display:block;
    width:860px;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

textarea{
    resize:vertical;
    margin:0;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

label{
    margin:0 ;
}

input{margin-bottom:1px;}
input[type="number"]{
    text-align:center !important;
    
    appearance:textfield;
    -moz-appearance:textfield;
    -webkit-appearance:textfield;
    
    
}

select{
    margin:0px;
    vertical-align:middle;
    text-align:center !important;
    
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}

input, select{
    background:none;
    color:inherit;
    border-radius:0px;
    border-width:0px;
    border-bottom:1px solid black;
}

label{
    display:inline;
    vertical-align: middle;
}

textarea.sheet-text-fill{
    resize:none;
}

span.sheet-textarea{
    
    white-space: pre-line;
}

input:disabled,
span.sheet-field{
    display:inline-block;
    border:1px solid black;
    background-color:#bbbbbb55;
    font-weight:bold;
    padding:2px 5px;
    margin:1px 5px;
    text-align:center;
    min-width:50px;
    height:24px;
    vertical-align:middle;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sheet-creature-swap-wrapper{
    position:relative;
    display:block;
    width:200px;
    height:20px;
    margin:0 auto ;
    
}
.sheet-creature-swap-wrapper input{
    position:absolute;
    width:100px;
    height:100%;
    z-index:1;
    top:0px;
    left:100px;
    height:20px;
    opacity:0;
}
.sheet-creature-swap-wrapper input:checked{
    left:0px;
}
.sheet-creature-swap-wrapper > span{
    position:absolute;
    display:inline-block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100px;
    top:0px;
    text-align:center;
    font-weight:bold;
    
}
.sheet-creature-swap-wrapper > span:nth-child(2){

    padding:0 10px;
    border-radius:10px 0 0 10px;
    background:black;
    color:white;
    left:0px;
}
.sheet-creature-swap-wrapper > span:nth-child(3){

    padding:0 10px;
    border-radius:0px 10px 10px 0px;
    background:lightgrey;
    color:black;
    left:100px;
    
}
.sheet-creature-swap-wrapper input:checked ~ span:nth-child(2){
    background:lightgrey;
    color:black;
}
.sheet-creature-swap-wrapper input:checked ~ span:nth-child(3){
    background-color:black;
    color:white;
}


.sheet-wrapper{
    display:block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sheet-tab-container{
    display:block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sheet-body-container{
    display:inline-block;
    width:100%;
    border: 2px solid black;
    background-color:white;
    padding:10px;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*****************************
    Tabs
*****************************/

.sheet-tab{
    position:relative;
    display:inline-block;
    
    
    height:auto;
    margin:0px;
    z-index:0;
}

.sheet-tab > input[type="radio"]{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    z-index:1;
}
.sheet-tab > span{
    position:relative;
    display:inline-block;
    padding:5px 15px;
    width:100%;
    font-size:10pt;
    font-weight:bold;
    z-index:0;
    border-radius:10px 10px 0 0;
    border:2px solid black;
    border-bottom:0px;
    background-color:grey;
    
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.sheet-tab > input[type="radio"]:checked + span{
    background-color:lightgrey;
}

.sheet-whisper{
    position:relative;
    display:inline;
    margin-left:10px;
}
.sheet-whisper span{
    position:absolute;
    display:inline-block;
    width:100px;
    text-align:center;
    font-weight:bold;
    border:1px solid black;
    border-radius:10px;
    background:#ddd;
}
.sheet-whisper input{
    position:relative;
    display:inline-block;
    width:100px;
    height:100%;
    z-index:1;
    opacity:0;
}
.sheet-whisper input:checked + span{
    background:orange;
}

/*****************************
    Character
*****************************/

.sheet-character{
    display:grid;
    grid-template-columns:50% 50%;
    margin-bottom:10px;

}

.sheet-character div > div:nth-child(even){
    background-color:lightgrey;
}
.sheet-character div > div:nth-child(odd){
    background-color:white;
}

.sheet-character-item > label{
    display:inline-block;
    width:95px;
    text-align:right;
}
.sheet-character-item > span,
.sheet-character-item > input{
    display:inline-block;
    width:200px;
}
.sheet-character-item select{
    width:auto;
}

.sheet-character-stats tbody{
    border-left:1px solid black;
    border-right:1px solid black;
}
.sheet-character-stats tr:nth-child(even){
    background-color:white;
}
.sheet-character-stats tr:nth-child(odd){
    background-color:lightgrey;
}

.sheet-character-stats tr:first-child td{
    text-align:center
    color:black;
    font:large bold;
    
}
.sheet-character-stats td{
    padding:0 0 0 5px ;
    width:50px;
    text-align:center;
}
.sheet-character-stats td:first-child{
    width:70px;
    text-align:right;
    font: large bold;
}
.sheet-character-stats input{
    border-radius:0px;
    border:0;
    border-bottom:1px solid black;
    color:black;
    background:none;
    margin:2px 0;
    font-weight:bold;
}
.sheet-character-stats input:disabled{
    background-color:#99999955;
    border:none;
}
.sheet-character-stats tr:first-child{
    background-color:black;
    color:white;
    font:large bold;
    text-align:center;
}

.sheet-character-state label{vertical-align:text-top; padding:0 5px;}
.sheet-character-state label:first-child{
    display:inline-block;
    width:70px;
    text-align:right;
}
.sheet-character-state > div:nth-child(odd){
    background-color:lightgrey;
}


.sheet-table{
    margin: 0 auto;
    width: 100%;

    box-sizing: border-box;
}
.sheet-table tr{
    margin: 0px 3px;
}

.sheet-table tr:nth-child(1){
    background-color:black;
    color:white;
    height:40px;
}
.sheet-table th{
    text-align:center;
    
}
.sheet-table td{
    text-align:center;
}
.sheet-table-label{
    font-weight:bold;
    text-align:left !important;
    padding-left:20px;
}

.sheet-status-condition{
    position:relative;
}

.sheet-status-condition span{
    display:inline-block;
    width:100%;
    margin:0 auto;
    text-align:center;
    color:black;
    font-weight:bold;
    background-color:lightgrey;
}
.sheet-status-condition input{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1;
    opacity:0;
}
.sheet-status-condition input:checked + span{
    color:white;
    background-color:black;    
}

.sheet-condition-header{
    background:darkgrey;
    font-size:12pt;
    font-weight:bold;
    text-align:center;
    color:black;
}

.sheet-custom-status{
    display: block;
    width: max-content;
    margin: 0 auto;
}

    /*****************************
        Party
    *****************************/
    
.sheet-partyPokemon{
    position:relative;
    display:block;
    width:100%;
    margin:2px 0px 3px 0px;
    border:1px solid black;
    border-radius:15px;
}

.sheet-partyPokemon .sheet-partyClosed,
.sheet-partyPokemon .sheet-partyOpened,
.sheet-partyPokemon .sheet-partyLocked{
    display:none;
}

.sheet-partyPokemon > .sheet-pokeballState[value="0"] ~ img.sheet-partyClosed,
.sheet-partyPokemon > .sheet-pokeballState[value="1"] ~ img.sheet-partyOpened,
.sheet-partyPokemon > .sheet-pokeballState[value="2"] ~ img.sheet-partyLocked,
.sheet-partyPokemon > .sheet-pokeballState[value="2"] ~ input.sheet-partyClosed,
.sheet-partyPokemon > .sheet-pokeballState[value="0"] ~ input.sheet-partyOpened,
.sheet-partyPokemon > .sheet-pokeballState[value="1"] ~ input.sheet-partyLocked{
    display:inline-block;
}

.sheet-partyPokemon img{
    position:absolute;
    top:0px;
    left:0px;
    
}
.sheet-partyPokemon input[type="text"]{
    width:100%;
    padding-left:30px;
    border:none;
    font-weight:bold;
    font-size:12pt;
    vertical-align: text-top;
}

.sheet-partyPokemon input[type="radio"]{
    display:inline-block;
    position:absolute;
    top:0px;
    left:0px;
    width:30px;
    height:30px;
    z-index:1;
    opacity:0;
}

    /*****************************
        Capabilities
    *****************************/

.sheet-stats-capabilities{
    display:grid;
    grid-template-columns:50% 50%;
}



.sheet-capabilities label{
    display:inline-block;
    width:100px;
    text-align:right;
    vertical-align: text-top;
}
.sheet-capabilities > div{
    display:block;
    width:auto;
}
.sheet-capabilities > div:nth-child(odd){
    background:lightgrey;   
}
.sheet-abilities{
    width:100%;
    height:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.sheet-capabilities .repitem:nth-child(odd){
    background:lightgrey;
}
.sheet-abilities textarea{
    display:block;
    width:100%;
    height:100%;
    resize:none;
}

.sheet-custom-capability{
    display: block;
    width: max-content;
    margin: 0 auto;
}

    /*****************************
        Conditions
    *****************************/


.sheet-conditions-section{
    display:block;
    width:100%;
}
.sheet-condition-item{
    position:relative;
}

.sheet-condition-item span{
    display:block;
    width:100%;
    font-size: 8pt;
    padding:1px 10px;
    margin:0px auto;
    text-align:center;
    background-color:#f0f0f0;
    color:black;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.sheet-condition-item input{
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1;
    opacity:0;
}
.sheet-condition-item input:checked ~ span{
    background-color:black;
    color:white;
}
.sheet-conditions-section .sheet-header,
.sheet-header{
    background-color:darkgrey;
    text-align:center;
    font-weight:bold;
}
.sheet-conditions-section .sheet-body{
    background-color:lightgrey;
}

.sheet-condition-item-repeat{
    position:relative;
    display:block;
    width:300px;
    margin:0 auto 2px;
}
.sheet-condition-item-repeat input[type="checkbox"]{
    position:absolute;
    top:50%;
    left:-20px;
}
.sheet-condition-item-repeat input[type="text"]{
    display:block;
    width:100%;
}

    /*****************************
        AP
    *****************************/

.sheet-ap-item{
    display:block;
    margin:0 auto;
    width: max-content;
}

.sheet-ap-item select{
    width:auto;
    padding:0 15px;
}
.repitem:nth-child(even){
    background:grey;
}
.repitem:nth-child(odd){
    background:lightgrey;
}


/*****************************
    Moves
*****************************/

.sheet-move-item{
    position:relative;
    display:block;
    width:700px;
    margin:5px auto 0px;
    color:black;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.sheet-move-edit{
    
}
.sheet-move-readonly{
    
}

.sheet-move-header{
    position:relative;
    padding:5px 10px;
    border-radius:10px 10px 0 0;
    background:#444;
    color:#999;
}
.sheet-move-body{
    position:relative;
    background:#eee;
    padding:5px 10px;
    border-radius:0 0 10px 10px;
}

.sheet-move-item .sheet-hide-swap{
    position:absolute;
    top:5px;
    right:5px;
    z-index:2;
    opacity:0;
}
.sheet-move-item .sheet-hide-swap + span{
    position:absolute;
    top:5px;
    right:5px;
    z-index:1;
}
.sheet-move-item .sheet-hide-swap:checked + span::before{
    content:"▲";
    color:white;
}
.sheet-move-item .sheet-hide-swap + span::before{
    content:"▼";
    color:white;
}



.sheet-move-readonly textarea{
    height:min-content;
    background:none;
    border:none;
}
.sheet-move-readonly textarea:empty{
    display:none;
}
.sheet-move-readonly button{
    border-color:black;
}
.sheet-move-readonly .sheet-move-header > span{
    font-size:large;
    font-weight:bold;
    color:#ccc;
    display:inline-block;
}
.sheet-move-readonly .sheet-move-header > span:not(:first-child){
    text-align:center;
}

.sheet-move-readonly .sheet-move-crit:not(:empty)::after{
    content:"+";
}
.sheet-move-readonly .sheet-move-field + .sheet-move-field{
    margin-left:10px;
}
.sheet-move-readonly .sheet-move-field{
    display:inline-block;
}
.sheet-move-readonly .sheet-move-field label{
    display:inline;
    font-size:x-small;
    font-weight:bold;
    margin:0px 0px 0 0;
    padding:0px;
}
.sheet-move-readonly .sheet-move-field span{
    display:inline-block;
    padding:2px 5px;
    border:1px solid black;
    min-width:20px;

    text-align:center;
    background-color:beige;
    font-size:x-small;
    font-weight:bold;
}
.sheet-move-readonly .sheet-move-row + .sheet-move-row{
    margin:2px 0 0 0;
}
.sheet-move-edit div span:first-child{
    display:inline-block;
    width:100px;
}


.sheet-move-edit span{
    font-weight:bold;
}

.sheet-move-edit input,
.sheet-move-edit select{
    padding: 0 10px;
    color:black;
    background-color:#55555555;
}



/*****************************
    Skills
*****************************/
.sheet-skills table{
    border-width: 0 1px;
    border-style:solid;
    border-color:black;
}
.sheet-skill-table{
    margin:0 auto;

}
.sheet-skill-table tr:nth-child(odd){
    background-color:lightgrey;   
}
.sheet-skill-table td{
    padding:0px 5px;
    
}

.sheet-skill-table td{
    text-align:center;
}
.sheet-skill-name{
    width:200px;
}
.sheet-skill-name span{
    display:inline-block;
    width:100%;
    text-align:center;
    font-weight:bold;
}
.sheet-skill-rank{
    width:200px;
}

.sheet-skill-mod{
    width:100px;
}
.sheet-skill-roll{
    width:50px;
}
.sheet-skill-roll button{
    border:1px solid black;
}
.sheet-skill-item .sheet-field{
    width:85px;
    text-align:center;
}

.sheet-custom-skill-item{
    display:block;
    width:450px;
    margin:0 auto 3px;
}
.sheet-custom-skill-item input[type="text"]{
    padding: 5px 10px;
}
.sheet-custom-skill-item input[type="number"]{
     padding: 5px 10px;
}
.sheet-custom-skill-item select{
    width:auto;
    padding: 0 10px;
}
.sheet-custom-skills .repitem:nth-child(odd){
    background:lightgrey;
}

/*****************************
    Edges, Features
*****************************/

.sheet-class-feature{
    position:relative;
    border: 1px solid black;
    background-color:grey;
    width:80%;
    margin:10px auto 0;
}
.sheet-class-feature button[type="roll"]{
    position:absolute;
    top:0px;
    right:0px;
    
}
.sheet-class-feature:not(:hover) button[type="roll"]{
    display:none;   
}

.sheet-class-feature .sheet-hide-swap {
    position:absolute;
    top:5px;
    left:5px;
    z-index:1;
    opacity:0;
    width:auto;
}
.sheet-class-feature .sheet-hide-swap+div::before{
    position:absolute;
    top:5px;
    left:5px;
    content:"▼";
    color:white;
    
    
}
.sheet-class-feature .sheet-hide-swap:checked + div::before{
    content:"▲";
}

.sheet-class-feature input{
    width:100%;
}

.sheet-class-feature .sheet-class-name{
    background-color:black;
    padding-left:20px;
    height:3rem;
    color:white;
}
.sheet-class-feature .sheet-edit .sheet-class-name input{
    font-weight:bold;
    font-size: large;
}

.sheet-class-feature .sheet-readonly .sheet-class-name span{
    display:inline-block;
    height:100%;
    font-weight:bold;
    font-size: large;
    color:#e3e3e3;
    vertical-align: text-top;
}

.sheet-class-feature .sheet-readonly .sheet-class-keywords{
    padding-left:35px;
}
.sheet-class-feature .sheet-readonly .sheet-class-keywords span{
    position:relative;
    top:0px;
    font-size:small;
    font-weight:bold;
}
.sheet-class-feature .sheet-readonly .sheet-class-keywords span::before{
    content:"[";
    font-weight:bold;
}
.sheet-class-feature .sheet-readonly .sheet-class-keywords span::after{
    content:"]";
    font-weight:bold;
}

.sheet-class-feature .sheet-readonly .sheet-class-prerequisites{
    padding-left:20px;
}
.sheet-class-feature .sheet-readonly .sheet-class-prerequisites span{
    color:black;
    font-size:small;
    font-weight:bold;
}
.sheet-class-feature .sheet-readonly .sheet-class-prerequisites span::before{
    content:"(";
    font-weight:bold;
}
.sheet-class-feature .sheet-readonly .sheet-class-prerequisites span::after{
    content:")";
    font-weight:bold;
}

.sheet-class-feature .sheet-readonly .sheet-class-action{
    padding-left:20px;
}
.sheet-class-feature .sheet-readonly .sheet-class-action span{
    font-size:small;
    font-weight:bold;
    color:#333;
}

.sheet-class-feature .sheet-readonly .sheet-class-trigger{
    padding-left:20px;
}
.sheet-class-feature .sheet-readonly .sheet-class-trigger span{
    font-size:small;
    font-weight:bold;
}
.sheet-class-feature .sheet-readonly .sheet-class-trigger span::before{
    content:"Trigger:";
    color:black;
}

.sheet-class-feature .sheet-readonly .sheet-class-target{
    padding-left:20px;
}
.sheet-class-feature .sheet-readonly .sheet-class-target span{
    font-size:small;
    font-weight:bold;
}
.sheet-class-feature .sheet-readonly .sheet-class-target span::before{
    content:"Target:";   
    color:black;
}

.sheet-class-feature .sheet-readonly .sheet-class-effect{
    padding-left:10px;
    font-size:x-small;
    font-weight:bold;
    background-color:#e3e3e3;
}

.sheet-class-feature .sheet-readonly .sheet-class-keywords span:empty,
.sheet-class-feature .sheet-readonly .sheet-class-prerequisites span:empty,
.sheet-class-feature .sheet-readonly .sheet-class-action span:empty,
.sheet-class-feature .sheet-readonly .sheet-class-trigger span:empty,
.sheet-class-feature .sheet-readonly .sheet-class-target span:empty{
    display:none;
}


.sheet-class-feature > div.sheet-hide-swap-a,
.sheet-class-feature > div.sheet-hide-swap-b{
    
}


/*****************************
    Inventory
*****************************/
.sheet-equipped{
    position:relative;
    text-align:center;
}
.sheet-equipped-item{
    position:absolute;
    display:inline-block;
    background:beige;
    border:1px solid black;
    width:200px;

}
.sheet-equipped-item textarea{
    max-height:100px;
    min-height:28px;
    height:28px;
}

.sheet-inventory-head{
    top: 10px;
    left: 505px;
}
.sheet-inventory-body{
    top: 100px;
    left: 300px;
}
.sheet-inventory-mainHand{
    top: 150px;
    left: 505px;
}
.sheet-inventory-offHand{
    top: 150px;
    right: 520px;
}
.sheet-inventory-feet{
    bottom: 30px;
    left: 300px;
}
.sheet-inventory-accessory{
    top: 10px;
    right: 520px;
}

.sheet-inventory-item{
    position:relative;
    margin-top:5px;
    padding:5px 10px;
    border:1px solid black;
    border-width:0 1px;
    border-radius:10px;
}

.sheet-inventory-item input{
    margin-right:15px;
}
.sheet-inventory-item .sheet-hide-swap{
    position:absolute;
    top:5px;
    left:400px;
    opacity:0;
    z-index:1;
}
.sheet-inventory-item .sheet-hide-swap + span{
    position:absolute;
    top:5px;
    left:400px;
    color:black;
}
.sheet-inventory-item .sheet-hide-swap + span::before{
    content:"▲";
}
.sheet-inventory-item .sheet-hide-swap:checked + span::before{
    content:"▼";
}

.sheet-inventory-item  textarea{
    height:70px;
    margin-top:5px;
}




/*****************************
    Hide-Swap
*****************************/

input.sheet-hide-swap{
    
}
input.sheet-hide-swap:checked{
    
}

input.sheet-hide-swap:checked ~ .sheet-hide-swap-a,
input.sheet-hide-swap ~ .sheet-hide-swap-b{
    display:none;    
}
input.sheet-hide-swap:checked ~ .sheet-hide-swap-b{
    display:block;
}


/*****************************
    Grid
*****************************/

.sheet-grid{
    display:grid;
    grid-template-columns:50% 50%;
}

.sheet-grid-3{
    display:grid;
    grid-template-columns:33% 33% 33%;
}

/*****************************
    
        Tabs
    
*****************************/


.sheet-trainerSwap[value="0"] ~ .sheet-trainer-only,
.sheet-trainerSwap[value="1"] ~ .sheet-pokemon-only{
    display:none;
}




.sheet-character-info,
.sheet-moves,
.sheet-skills,
.sheet-features,
.sheet-inventory,
.sheet-settings{
    display:block;
}


.sheet-tab-swap{
    
}


.sheet-tab-swap[value="0"] ~ .sheet-moves,
.sheet-tab-swap[value="0"] ~ .sheet-skills,
.sheet-tab-swap[value="0"] ~ .sheet-features,
.sheet-tab-swap[value="0"] ~ .sheet-inventory{
    display:none;
}
.sheet-tab-swap[value="1"] ~ .sheet-character-info,
.sheet-tab-swap[value="1"] ~ .sheet-moves,
.sheet-tab-swap[value="1"] ~ .sheet-features,
.sheet-tab-swap[value="1"] ~ .sheet-inventory{
    display:none;
}
.sheet-tab-swap[value="2"] ~ .sheet-character-info,
.sheet-tab-swap[value="2"] ~ .sheet-skills,
.sheet-tab-swap[value="2"] ~ .sheet-features,
.sheet-tab-swap[value="2"] ~ .sheet-inventory{
    display:none;
}
.sheet-tab-swap[value="3"] ~ .sheet-character-info,
.sheet-tab-swap[value="3"] ~ .sheet-moves,
.sheet-tab-swap[value="3"] ~ .sheet-skills,
.sheet-tab-swap[value="3"] ~ .sheet-inventory{
    display:none;
}
.sheet-tab-swap[value="4"] ~ .sheet-character-info,
.sheet-tab-swap[value="4"] ~ .sheet-moves,
.sheet-tab-swap[value="4"] ~ .sheet-skills,
.sheet-tab-swap[value="4"] ~ .sheet-features{
    display:none;
}
